<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Download Article File</title>
</head>
<body>
<a id="fileDown">download</a>
<script type="text/javascript" th:inline="javascript" charset="UTF-8">
    /*<![CDATA[*/
    var resultName = /*[[ ${articleFileName} ]]*/'';
    var resultFile = /*[[ ${articleFileContents} ]]*/'';
    /*]]*/
    window.onload = function () {
        var a = document.getElementById("fileDown");
        var url = "data:application/octet-stream;base64," + resultFile;

        a.setAttribute('href', url);
        a.setAttribute('download', resultName);
    }
</script>
</body>
</html>