<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Test page</title>
    <script type="text/javascript" th:src="@{/resources/js/index.js}" charset="UTF-8"></script>
    <script type="text/javascript" th:src="@{/resources/js/jquery-3.5.0.js}" charset="UTF-8"></script>
    <style>
        body {
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
<a id="fileDown">download</a>
<script type="text/javascript" th:inline="javascript" charset="UTF-8">
    /*<![CDATA[*/
    var resultName = /*[[ ${testName} ]]*/'';
    var resultFile = /*[[ ${testFile} ]]*/'';
    /*]]*/
    window.onload = function () {
        var a = document.getElementById("fileDown");
        var url = "data:application/octet-stream;base64," + resultFile;
        a.setAttribute('href', url);
        a.setAttribute('download', resultName);
    }
</script>
<!--블로그 만들기 프로젝트
기반 > Spring MVC + Thymeleaf + Oracle Database-->
<!--Thymeleaf 링크 > th:href="@{/url}"-->
<!--<a th:href="@{/index}">메인 페이지</a>-->
</body>
</html>